.medication-mc {
    margin-top: 80px;
    margin-left: 300px;
}

#medicine-heading-mc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

.medicine-mc {
    border: 1px solid #979797;
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 1%;
}

.heading-meds-mc {
    display: flex;
    justify-content: space-between;
}

.dosage-mc {
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    text-align: center;
}

.description-mc {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    text-align: center;
}

#listOfMedications-mc {
    overflow: auto; 
    height: 500px;
    margin-right: 70px;
    margin-left: 70px;
}

.whole-medication-mc {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fullMeds-mc {
    width: 1500px;
    margin-right: 20px;
    margin-left: 20px;
}