.medicine {
    border: 1px solid #979797;
    margin: 10px;
    background-color: white;
    padding: 10px;
}

/* .medication {
    background-color: white;
    border: 1px solid black;
} */

.dosage {
    display: flex;
    justify-content: space-around;
}

#medicine-heading {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.flexForm-Medication {
    margin: 70px;
}