.doctor {
    border: 1px solid #979797;
    margin: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 1%;
}

/* .medication {
    background-color: white;
    border: 1px solid black;
} */

.doctors {
    margin-top: 50px;
}

#listOfDoctors {
    overflow: auto; 
    max-width: 435px; 
    height: 330px;
}

#doctor-heading {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    margin-left: 10px;
}

.flexForm-Doctor {
    margin: 70px;
}